*, *::before, *::after { padding: 0; margin: 0; box-sizing: border-box; }
#noMargin { margin-right: 0; }
body { display: flex; align-items: center; min-height: 100vh; flex-direction: column; }
    .container { width: 100%; gap: 1rem; display: flex; justify-content: center; height: 100%; padding: 1rem; flex-wrap: wrap; }
    .sarcina1, .sarcina3 { background: white; color: black; }
        .block { width: 150px; aspect-ratio: 1/1; border-radius: 1rem; }
        .block1 { background: red; }
        .block2 { background: black; background-image: url("../img/sarc1img.png"); background-repeat: repeat; }
        .block3 { background: magenta; background-image: url("../img/sarc1img.png"); background-repeat: repeat-x; }
        .block4 { background: lightgreen; background-image: url("../img/sarc1img.png"); background-repeat: repeat-y; }
        .block5 { background: aqua; background-image: url("../img/sarc1img.png"); background-repeat: no-repeat; background-position: center; }
    .sarcina2, .sarcina4 { background: rgb(40, 40, 40); color: white; }
        .forms { display: grid; grid-template-areas: "a" "b" "c" "d"; gap: 1rem; border: 1px solid white; padding: 1rem; }
            .form1 { grid-area: a; }
            .form2 { grid-area: b; }
            .form3 { grid-area: c; }
            .form { display: flex; flex-direction: column; padding: 1rem; gap: 1rem; width: 100%; }
                .formEl { display: flex; flex-direction: column; justify-content: space-between; gap: 1rem; align-items: center; }
                .formEl div { display: flex; gap: .5rem; }
                .formEl input { border: 1px solid white; background: transparent; color: white; padding: .25rem 1rem; }
                .formEl input:focus { border: 3px solid white; }
                    .studies { display: flex; flex-direction: column; }
                    #sup, #col, #lic, #mast, #raion, #M, #F { background: transparent; color: white; padding: .25rem 1rem; border: 1px solid white }
                    #raion option { color: white; background: rgb(40,40,40); }
                    #culoare { padding: .1rem; width: 3rem; }
                .foo { display: flex; justify-content: space-between; grid-area: d; }
        @media (min-width: 850px) { .forms { grid-template-areas: "a b" "a b" "a c" "d d"; } }
        @media (min-width: 450px) { .form { width: 350px; } .formEl { flex-direction: row; } }
        /* Sarcina 3 */
        .list { display: flex; }
        .list ul, .list ol { margin: 0 5rem; position: relative; }
        .list ul::after { content: 'after'; position: absolute; background: red; bottom: -1rem; right: -1rem; color: white }
        .list ol::before { content: 'before'; position: absolute; background: blue; top: -1rem; left: -1rem; color: white }
        .list ol li::first-letter, .list ul li::first-letter { text-transform: uppercase; }
        p::first-line { text-transform: capitalize; }
        .list ol li:first-child { color: blue; }
        .list ul li:last-child { color: red; }
        *::selection { background: yellow; }
        /* Sarcina 4 */
        a { color: white; text-decoration: none; padding: 1rem; }
        a:visited { text-decoration: line-through; }
        a:link { background: black; }
        a:hover { background: rgb(128, 98, 98, .3); }
        a:active { background: rgb(0, 0, 0) }